@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
body{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    /*font-weight: 400;regular 500;medium*/
    background-color: #1C1C1C;
    color: #fff;
}
a {
    color: #fff;
    text-decoration: none;
}
ul {
    list-style: none;
}
.header {
    
}

.header_logo {
}

.header_nav {
}

.header_list {
}

.btn {
}
